
* {
  font-family: 'Raleway', 'sans-serif';
}
nav {
  position: absolute;
  margin-top: -10px;
  padding-top: 8px;
  background-color: white;
  width: 100%;
}
li, a {
  display: inline;
  list-style: none;
  background-color: white;
}
a {
  color: salmon;
  text-decoration: none;
}
li {
  margin-right: 15px;
}
.outer {
  padding-top: 100px;
  margin-left: 15%;
  width: 70%; 
  margin: 0 auto;
}
.resume {
  float: right;
  margin-right: 15px;
  clear: both;
}
.content {
  width: 100%;
}
.project {
  display: block;
  min-width: 800px;
  margin-bottom: 50px;
}
.contact-image {
  height: 55px;
  width: 55px;
  margin-left: 33%;
}
.contact-div {
  width: 30%;
  max-width: 800px;
  display: inline-block;
}
.portfolio {
  float: left;
  max-width: 400px;
}
.portfolio, .text-portfolio {
  height: 250px;
  width: 44%;
  margin-bottom: 50px;
}
.text-portfolio {
  line-height: 25px;
  overflow: scroll;
  float:right;
  margin-left: 8%;

}
img.portfolio {
  border: thin solid black;
  min-width: 400px;
}
