
* {
  font-family: 'Raleway', 'sans-serif';
}
nav {
  position: absolute;
  margin-top: -10px;
  padding-top: 8px;
  background-color: white;
  width: 100%;
}
li, a {
  display: inline;
  list-style: none;
  background-color: white;
}
a {
  color: salmon;
  text-decoration: none;
}
li {
  margin-right: 15px;
}
.content {
  width: 70%;
  margin: 0 auto;
  padding-top: 8%
} 
img {
  height: 55px;
  width: 55px;
  margin-left: 20%;
}
.portfolio {
  height: 250px;
  width: 40%;
  min-width: 450px;
  margin: 0px;
}