
* {
  font-family: 'Raleway', 'sans-serif';
}
nav {
  position: absolute;
  margin-top: -10px;
  padding-top: 8px;
  background-color: white;
  width: 100%;
}
li, a {
  display: inline;
  list-style: none;
  background-color: white;
}
a {
  color: salmon;
  text-decoration: none;
}
li {
  margin-right: 15px;
}
.outer {
  padding-top: 100px;
  margin-left: 15%;
  width: 70%; 
  margin: 0 auto;
}
.resume {
  float: right;
  margin-right: 15px;
  clear: both;
}
.contact-image {
  height: 55px;
  width: 55px;
}
.contact-div {
  width: 30%;
  display: inline-block;
}
img.portfolio {
  border: thin solid black;
  width: 400px;
  height: 250px;
}


.image-portfolio {
  display: inline-block;
}  
.text-portfolio {
    line-height: 25px;
    width:80%;
    margin-bottom: 20px;
    display: inline-block;
}

.footer {
  width: 110%;
  background-color: lightgrey;
  height: 40px;
  clear: both;
  position: relative;
}

@media screen and (max-width: 1000px;) {
  .text-portfolio {
    line-height: 25px;
    overflow: scroll;
    width: 60%;
    margin-bottom: 20px;
  }




