@import url('https://fonts.googleapis.com/css2?family=Raleway&family=Ubuntu:wght@300&display=swap');

* {
  font-family: 'Ubuntu';
  font-size: 1.02em;
  font-weight: bolder;
}

body {
  background-color:rgb(39, 41, 43);
  color: white;
}

a {
  text-decoration: none;
}

h1 {
  font-family: 'Raleway';
  font-size: 3em;
}

#copy:hover {
  cursor: copy;
}

.footer {
  text-align: right;
  grid-column-start: 1;
  grid-column-end: -1;
}

.grid-container {
  display: grid;
  grid-template-columns: 15% 70% 15%;
  grid-template-rows: auto 5%;
}

.highlight {
  color: #3ba6f6;
}

.strong {
  font-weight: bold;
}

.konamify {
 height: 50px;	
 overflow: hidden;
 position: relative;
}
.konamify h3 {
 font-size: 3em;
 color: limegreen;
 position: absolute;
 width: 100%;
 height: 100%;
 margin: 0;
 line-height: 50px;
 text-align: center;
 /* Starting position */
 -moz-transform:translateX(100%);
 -webkit-transform:translateX(100%);	
 transform:translateX(100%);
 /* Apply animation to this element */	
 /* -moz-animation: konamify 15s linear infinite;
 -webkit-animation: konamify 15s linear infinite;
 animation: konamify 15s linear infinite; */
}
/* Move it (define the animation) */
@-moz-keyframes konamify {
 0%   { -moz-transform: translateX(100%); }
 100% { -moz-transform: translateX(-100%); }
}
@-webkit-keyframes konamify {
 0%   { -webkit-transform: translateX(100%); }
 100% { -webkit-transform: translateX(-100%); }
}
@keyframes konamify {
 0%   { 
 -moz-transform: translateX(100%); /* Firefox bug fix */
 -webkit-transform: translateX(100%); /* Firefox bug fix */
 transform: translateX(100%); 		
 }
 100% { 
 -moz-transform: translateX(-100%); /* Firefox bug fix */
 -webkit-transform: translateX(-100%); /* Firefox bug fix */
 transform: translateX(-100%); 
 }
}