@import url('https://fonts.googleapis.com/css2?family=Raleway&family=Ubuntu:wght@300&display=swap');

* {
  font-family: 'Ubuntu';
  background-color:rgb(39, 41, 43);
  color: white;
  font-size: 1.02em;
  font-weight: bolder;
}

a {
  text-decoration: none;
}

h1 {
  font-family: 'Raleway';
  font-size: 3em;
}

#copy:hover {
  cursor: copy;
}

.footer {
  text-align: right;
  grid-column-start: 1;
  grid-column-end: -1;
}

.grid-container {
  display: grid;
  grid-template-columns: 15% auto 15%;
  grid-template-rows: 95% 5%;
  width: 95vw;
  height: 95vh;
}

.highlight {
  color: #3ba6f6;
}

.strong {
  font-weight: bold;
}